*,
html {
    margin:0;
    padding:0;
}


.container



.container-navbar {
    background-color:grey;
    width: 100%;
    height:13vh;
}


.ul-navbar {
    background-color:grey;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    border: 1px solid white;
    background-color:black;
    list-style-type: none;
    padding: 20px;
    margin:5px;
    color:white
}

.li-navbar:hover {
    background-color:white
    
}


.a-navbar {
    color:rgb(63, 3, 147)
}
    


.container-content {
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;

}

.a-content {
    width:720px;
    height:480px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-content {
  height: 100%;
}

.container-footer {
    height:10vh;
    background-color:black;
    color:white;
}

.h2-2footer {
    font-size:20px;
}

.h1-footer {
    font-size:15px;
    display: flex;
    justify-content: center;
    align-items: center;
}